@font-face {
  font-family: 'Myfont';
  src: url('./GraublauWeb.woff');
  font-weight: 600;
  font-style: normal;
}

.hello {
  color: red;
  background: url('./avatar2.jpg');
  font-family: 'Myfont';
}
